/* Color personalizado para el focus del input de búsqueda */
.focus\:ring-custom-purple:focus {
  --tw-ring-color: #7c00e2;
}
@import "tailwindcss";

.nav-item {
  position: relative;
  cursor: pointer;
}
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: #7c00e2;
  transition: width 0.3s;
}
.nav-item:hover::after {
  width: 100%;
}
